body {
    font-family: Arial, sans-serif;
    background-color: #f9f5e3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffa07a;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

.blog-post, .about-section, .contact-form {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #ffa07a;
    text-align: center;
    padding: 10px;
}


.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical; 
}

.contact-form button {
    background-color: #ffa07a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: #ff7f50;
}

