body {
    font-family: Arial, sans-serif;
    background-color: #f9f5e3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffa07a;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}



footer {
    background-color: #ffa07a;
    text-align: center;
    padding: 10px;
}
